@use '../../partials/variables' as *;
@use '../../partials/fonts' as *;
@use '../../partials/mixins' as *;
@use '../../partials/typography' as *;

.learn-to-paint {
    background-color: $primary-four;
    font-family: "Archivo", sans-serif;
    color: $primary-three;
    @include padding-screen;

    &__divider {
        @include border-divider;
    }

    &__card {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;

        @include tablet {
            margin-bottom: 3rem;
        }
    }

    &__header {
        background-color: $primary-one;
        @include section-header;
        @include padding-section-header;
        @include border-radius-top;
        margin-top: 2rem;

        @include tablet {
            margin-top: 3rem;
        }
    }

    &__container-img {
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
        }
    }

    &__img {
        @include tablet {
            width: 50%;
        }
    }

    &__details {
        background-color: $secondary-one;
        @include body-copy;
        @include padding-details;
        @include border-radius-bottom;
    }

    &__link {
        background-color: $secondary-one;
        text-decoration: underline;

        &:hover {
            cursor: pointer;
        }

        &:visited {
            color: $primary-three;
        }
    }
}