@use '../../partials/variables' as *;
@use '../../partials/fonts' as *;
@use '../../partials/mixins' as *;
@use '../../partials/typography' as *;

.current-photo {
    background-color: $primary-four;
    font-family: "Archivo", sans-serif;
    color: $primary-three;
    @include padding-screen;
    @include border-radius-card;

    @include desktop {
        width: 33.3%;
        background-color: $secondary-one;
        padding: 0rem;
        @include hover-card;
    }

    &__divider {
        @include border-divider;

        @include desktop {
            display: none;
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        @include border-radius-card;
    }

    &__header {
        background-color: $primary-one;
        @include section-header;
        @include padding-section-header;
        @include border-radius-top;
    }

    &__details {
        background-color: $secondary-one;
        @include body-copy;
        @include padding-details;

        @include desktop {
            padding: 2rem 4rem 3.5rem;
            @include border-radius-bottom;
        }
    }

    &__cta-container {
        display: flex;
        flex-direction: column;
        background-color: $primary-one;
        padding: 0rem 2rem;
        @include border-radius-bottom;

        @include tablet {
            padding: 0rem 4rem;
        }

        @include desktop {
            display: none;
        }
    }

    &__cta {
        background-color: $primary-three;
        @include labels-and-buttons;
        line-height: 1;
        padding: 2rem 0rem;
        @include border-radius-button;
        margin: 2rem 0rem;
        cursor: pointer;
        @include button-animation;

        @include tablet {
            margin: 2.5rem 0rem;
        }
    }
}