// primary colors
$primary-one: #7e9f4e; // Green
$primary-two: #6f4c79; // Purple
$primary-three: #F1F1FE; // Off-White
$primary-four: #000000; // Black

//secondary colors
$secondary-one: #576641; // Dark Green
$secondary-two: #aacc75; // Light Green
$secondary-three: #aa97bd; // Light Purple
$secondary-four: #FFFFFF; // White

//breakpoints for responsiveness
$bp-tablet: 768px;
$bp-desktop: 1280px;